/* Layout effects for compatibility with main page */
html{
    overflow: hidden;
    filter: drop-shadow(2px 4px 6px black);
    width: 100%;
}
body{
    position:absolute;
    top: 0;
    bottom: 0;
    overflow: auto;
    width: 100%;
    height: auto;
}
/* TechPro Services header */
h1{
    font-size: 50px;
    background: -webkit-linear-gradient(#25ff88, #00b050);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Agency FB';
}
h1:before{
    content: '';
    background: url("../Images/logo_new.svg") no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 15px;
}
h2{
    font-style: italic;
    padding: 15px;
    padding-left: 0;
}
.Block{
    margin: 15px;
    padding: 15px;
    background: #25ff88c4;
    border-radius: 5px;
    transition: 0.3s;
}
.Block p:first-child{
    font-size: 20px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    float: left;
}
.internal-card{
    background-color: #25ff88c4;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
    transition: 0.3s;
    text-decoration: none;
    color: white;
    min-width: 200px;
    min-height: 100px;
    background-position: center;
}
.ad-card{
    font-weight: bold;
    text-shadow: 0 1px 3px black;
}
.card{
    background-color: #25ff88c4;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
    transition: 0.3s;
    text-decoration: none;
    color: white;
    min-width: 200px;
    max-width: 500px;
}
.card:hover{
    transform: translate(0, -15px) scale(1.01);
}
#internal-card-image{
    float: left;
    width: 100px;
    height: 100px;
    background-size: contain;
    filter: drop-shadow(2px 4px 10px black);
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
}
button{
    padding: 10px;
    font-weight: bold;
    background-color: #25ff88;
    border: 1px #00b050;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    filter: drop-shadow(2px 4px 6px black);
    transform: translate(0, -15px);
}
button:active{
    background: #fff;
}
video{
    position: absolute;
    display: block;
    right: 0;
    left: 0;
    margin: auto;
}
a{
    color: white;
}